.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--mantine-spacing-md);
}

.title {
    color: var(--mantine-color-cyan-5);
    font-size: var(--mantine-font-size-xl);
    text-align: center;
}