.container {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    min-height: 0;
}

.content {
    max-width: 100%;
    display: grid;
    gap: var(--mantine-spacing-xs);
    grid-template-columns: repeat(6, 1fr);

    @media (max-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mantine-breakpoint-sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    padding: var(--mantine-radius-lg);

    &:hover {
        box-shadow: var(--mantine-shadow-sm);
    }

    flex-grow: 1;
    justify-content: start;


    &:hover .projectButton {
        transform: rotate(-90deg);
        opacity: 1;
    }

    &:hover .icon {
        opacity: 1;
    }
}

.projectDescription {
}

.projectName {
    font-size: var(--mantine-font-size-lg);
    font-weight: 600;

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--mantine-color-blue-5);
    }
}

.projectButton {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.btnGroup {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
}

.icon {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}