.container {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
    overflow: hidden;
    height: 100%;

    & > h3 {
        margin-top: var(--mantine-spacing-md);
    }
}

.quickActions {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
    align-items: center;
}

.quickAction {
    border-radius: var(--mantine-radius-sm);
    box-shadow: var(--mantine-shadow-md);
    padding: var(--mantine-spacing-xs);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    cursor: pointer;

    transition: all 0.1s ease-out;

    &:hover {
        box-shadow: var(--mantine-shadow-xl);
        transform: scale(1.1);
    }
}

.projects {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
    flex-shrink: 0;
    overflow-x: auto;
    padding: 50px 0;
    margin: -50px 0;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    box-shadow: var(--mantine-shadow-md);

    min-width: 200px;

    transition: all 0.1s ease-out;

    &:hover {
        box-shadow: var(--mantine-shadow-xs);
        transform: scale(0.98);
    }
}

.projectEmoji {
    font-size: 3rem;
}

.projectName {
    font-size: var(--mantine-font-size-lg);
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--mantine-color-blue-5);
    }
}

.projectButton {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.btnGroup {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--mantine-spacing-md);
}

.modalTitle {
    color: var(--mantine-color-cyan-5);
    font-size: var(--mantine-font-size-xl);
    text-align: center;
}

.recentMessages {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    overflow-x: hidden;
    padding: 0 50px;
    margin: 0 -50px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    box-shadow: var(--mantine-shadow-sm);
    border-radius: var(--mantine-radius-sm);
    padding: var(--mantine-spacing-sm);
    transition: all 0.1s ease-out;

    &:hover {
        box-shadow: var(--mantine-shadow-xl);
        transform: scale(1.01);
    }

    & > :first-child {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: var(--mantine-color-dimmed);
    }

    & > :last-child {
        color: var(--mantine-color-dimmed);
    }
}