.container {
    --padding: 0;
    --border: none;

    max-width: 80%;
    display: flex;
    flex-direction: column;

    &:not([data-author='true']) {
        border-left: var(--border);
        padding-left: var(--mantine-spacing-xs);
    }

    &[data-author='true'] {
        border-right: var(--border);
        align-self: flex-end;
    }

    border-radius: var(--mantine-radius-md);
    background-color: var(--message-bg-color);

    &[data-hightlight='true'] {
        box-shadow: 0 0 5px 2px var(--message-bg-color-hover);
    }
}

.reply {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
    font-size: var(--mantine-font-size-xs);
}


.message {
    cursor: pointer;
    transition: all 50ms ease-out;
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);

    color: var(--message-text-color);

    &:hover {
        background-color: var(--message-bg-color-hover);
    }
}

.author {
    font-size: var(--mantine-font-size-xs);
}

.text {
    font-weight: 500;
    word-break: break-word;
}

.time {
    font-size: var(--mantine-font-size-xs);
}