.container {
    --padding: 0;
    --border: none;

    &[data-reply="true"] {
        --padding: var(--mantine-spacing-xs);
        --border: 3px solid var(--message-bg-color);
        --margin: var(--mantine-spacing-xs);
    }

    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);

    &:not([data-author='true']) {
        border-left: var(--border);
        padding-left: var(--mantine-spacing-xs);
        margin-left: var(--margin);
    }

    &[data-author='true'] {
        border-right: var(--border);
        padding-right: var(--mantine-spacing-xs);
        align-self: flex-end;
        margin-right: var(--margin);
    }
}

.reply {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
    font-size: var(--mantine-font-size-xs);
}


.message {
    cursor: pointer;
    transition: all 50ms ease-out;
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);

    background-color: var(--message-bg-color);
    color: var(--message-text-color);

    &:hover {
        background-color: var(--message-bg-color-hover);
    }
}

.author {
    font-size: var(--mantine-font-size-xs);
}

.text {
    font-weight: 500;
    word-break: break-word;
}

.time {
    font-size: var(--mantine-font-size-xs);
}