.container {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    margin-top: auto;
}

.inputForm {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
    justify-content: stretch;
    align-items: flex-end;

    & > button {
        margin-bottom: 3px;
        background-color: unset;
    }
}

.replyTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--mantine-spacing-xs);

    &:last-child {
        margin-left: auto;
    }
}

.replyToText {
    width: 100%;
    padding: var(--mantine-spacing-xs);
}

.message {
    cursor: pointer;
    transition: all 50ms ease-out;
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);

    color: var(--message-text-color);
    background-color: var(--message-bg-color);

    &:hover {
        background-color: var(--message-bg-color-hover);
    }
}

.file {
    transition: all 50ms ease-out;
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);

    width: 100%;

    color: var(--mantine-color-gray-8);
    background-color: var(--mantine-color-gray-0);
}